.fundoQuartos{
    padding-top:10px;
    padding-left:10%;
    padding-bottom: 30%;
    width: 100%;
    background-color: rgb(213, 213, 199);
    border-radius: 20px;

}
.quartosCard
{
    width: 400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 10px;


    
}
.Imagens{
    border-right: 3px solid black;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.imageQuartos{
    width: 10em;
}